<% provide(:title, "Sign Up") %>
<h1> Sign up </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/user_error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, id: 'name', class: 'form-control' %>

      <%= f.label :username %>
      <%= f.text_field :username, id: 'username', class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, id: 'email', class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, id: 'password', class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, id: 'password_confirmation', class: 'form-control' %>

      <button type="button" onClick='javascript:signup()'>Create My Account</button>
    <% end %>
  </div>
</div>
