<% provide(:title, "Course HomePage") %>
<h1><%= @course[:course_no] + ", " + @course[:course_session] %></h1>
<p>
  <% if course_status(@course) == "Registration Period" %>
    <%= form_tag(controller: 'courses', action: 'update', method: 'post') do %>
      <div class="row">
        <%= collection_check_boxes(:accepted_users, :id, @mappings, :id, :get_user_info) do |b| %>
          <%= b.label %>
          <%= b.check_box %>
        <% end %>
        <%= submit_tag "Approve Requests", {:class =>"fancy-button"} %>
      </div>
    <% end %>
  <% elsif course_status(@course) == "Course Ongoing" %>
    <%= form_tag(controller: 'course', action: 'update', method: 'post') do %>
      <div class="row">
        <%= collection_check_boxes(:passing_users, :id, @accepted_mappings, :id, :get_user_info) do |b| %>
          <%= b.label %>
          <%= b.check_box %>
        <% end %>
        <%= submit_tag "Submit Grades", {:class =>"fancy-button"} %>
      </div>
    <% end %>
  <% else %>
    <%= "Course is Over!" %>
  <% end %>
</p>
